* {
    box-sizing: border-box;
    font-family: 'Oregano', cursive;
    color: rgba(0, 25, 10, 0.8);
    margin: 0;
}

img {
    width: 100%;
    float: left;

}

.description {
    float: left;
    width: 89%;
    margin-left: 10%;
}

.description__name{
    float: left;
    height: 20vw;
    font-size: 380%;
    width: 100%;
}

.description__composition {
    float: left;
    /*height: 11vw;*/
    height: 60vw;
    font-size: 380%;
    width: 100%;
}

.description__calories {
    float: left;
    width: 100%;
    height: 7vw;
    font-size: 300%;

}

.description__price {
    float: left;
    font-size: 300%;
}

#logo {
    width: 1000px;
    height: 300px;
    background: url("img/pizza_logo.png") no-repeat 0 -700px;
    background-size: auto;
    margin: auto;
    position: relative;
    top: -50px;
}

#logo_text {
    text-align: center;
    margin: 50px;
    font-size: 70pt;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#pizza_menu {
    background-color: rgba(0, 0, 0, 0.2);
}

.pizza_menu__btn_container {
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
    clear: both;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
}

.pizza_menu__list_container {
    float: right;
    width: 100%;
}

.column {
    float: left;
    width: 100%;
    padding: 3px;
    overflow: hidden;
    background-color: #f1f1f1;
    outline: none;
    backface-visibility: hidden;
    position: relative;
}

.column__img {
    position: absolute;
    top: 100px;
    z-index: 0;
}

.column_container {
    float: left;
    width: 100%;
    overflow: hidden;
    border: solid 5px white;
    outline: none;
    position: relative;
}

.animate {
    animation: turn 7s ease;
}

@keyframes turn {
    25% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

.column:hover {
    background-color: #ddd;
}


.row:after {
    content: "";
    display: table;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    width: 24.6%;
    margin-top: 1%;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 40pt;
}

.input {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    font-size: 40pt;
    width: 49.5%;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.speech_bubble {
    width: 900px;
    margin: 50px auto;
    border: 4px solid rgba(0, 25, 10, 0.8);
    padding: 20px;
    text-align: center;
    position: relative;
    font-size: 300%;
}

.rect:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0, 25, 10, 0.8);
    border-bottom: 10px solid transparent;
    right: 50%;
    bottom: -23px;
}

.rect:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    right: 50%;
    bottom: -18px;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
    .column {
       /* width: 49.99999%;*/
    }

    .column_container {
        width: 49.99999%;
    }

    .description__composition {
        height: 35vw;
        font-size: 250%;
    }

    .description__name {
        height: 10vw;
        font-size: 250%;
    }

    .description__calories {
        font-size: 200%;
    }

    .description__price {
        font-size: 200%;
    }
}
@media screen and (min-width: 1600px) and (max-width: 1919px) {
    .column {
        /*width: 33.33333%;*/
    }

    .column_container {
        width: 33.33333%;
    }

    .description__name {
        height: 10vw;
        font-size: 200%;
    }

    .description__composition {
        height: 23vw;
        font-size: 200%;
    }

    .description__calories {
        font-size: 150%;
        height: 3vw;

    }

    .description__price {
        font-size: 150%;
    }
}

@media screen and (min-width: 1920px) {
    .column {
        /*width: 24.99999%;*/
    }

    .column_container {
        width: 24.99999%;
    }

    .description__name {
        height: 10vw;
        font-size: 150%;
    }

    .description__composition {
        height: 11vw;
        font-size: 150%;
    }

    .description__calories {
        font-size: 100%;
        height: 2vw;
    }

    .description__price {
        font-size: 100%;
    }
}

.row--list {
    width: 100%;
}

.row--list img {
    width: 19%;
    z-index: 1;
    top: 10px;
    left: 175px;
}

.row--list .description {
    width: 65%;
    margin-left: 230px;
    margin-top: 3%;
    float: right;
}

.column_container.row--list {
    padding: 0 10%;
    width: 100%;
}

.row--list .description .description__name{
    width: 70%;
    font-size: 250%;
    display: block;
}

.line_through {
    text-decoration: line-through;
}